body {
  background-color: #282c34;
  color: white;
  font-family: monospace;
  margin: 0;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #000;
  cursor: col-resize;
}

circle {
  cursor: pointer; 
}

button {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 0px 5px 5px 5px;
  font-family: monospace;
}

input {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 0px 5px 5px 5px;
  font-family: monospace;
}

.input-text {
  background-color: rgb(220, 220, 220);
  border: 1px solid black;
  width: 80%;
  margin: 0;
}

textarea {
  background-color: rgb(220, 220, 220);
  border: 1px solid black;
  width: 100%;
}

.not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}