body {
  background-color: #282c34;
  color: white;
  font-family: monospace;
  margin: 0;
}

.header {
  font-size: 1.3rem;
}

.info {
  opacity: 0.7;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 100%, 100%, 0.05);
  border-left: 1px hsla(0, 100%, 0%, 0.05) solid;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 100%, 100%, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 100%, 100%, 0.4);
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  background: hsla(0, 100%, 100%, 0.05);
  border-left: 1px hsla(0, 100%, 0%, 0.05) solid;
}

textarea::-webkit-scrollbar-thumb {
  background: hsla(0, 100%, 0%, 0.3);
}

textarea::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 100%, 0%, 0.4);
}

/* Central split bar */

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #000;
  cursor: col-resize;
}

@keyframes example {
  from {background-color: #000;}
  to {background-color: #555;}
}

.gutter:hover {
  background-color: #555;
  animation-name: example;
  animation-duration: 0.2s;
}

/* Forms */

button {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 0px 5px 5px 5px;
  font-family: monospace;
}

input {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 0px 5px 5px 5px;
  font-family: monospace;
}

.input-text {
  background-color: rgb(220, 220, 220);
  border: 1px solid black;
  width: 80%;
  margin: 0;
}

textarea {
  background-color: rgb(220, 220, 220);
  border: 1px solid black;
  width: 100%;
}

/* SVG */

circle {
  cursor: pointer; 
}

.not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}