body {
  background-color: #282c34;
  color: white;
  font-family: monospace;
  margin: 0;
}

.not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}